@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 1px solid rgb(15, 79, 163);
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  height: 40px;
  font-size: 30px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(52, 111, 199);
    border-radius: 5px;
}
.button:hover{
    font-weight: 650;
    background-color: rgb(176, 177, 190);
  }
 .box{

    width: 300px;
    height: 405px;
    border: 2px brown;
    margin: 0 auto;
    background-color: rgb(67, 87, 87);
    border-radius: 10px;
 }